<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="W10_Lab1_Lecture.My.MySettings.AddressBookConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\rina\Documents\AddressBook.accdb"
            providerName="System.Data.OleDb" />
        <add name="W10_Lab1_Lecture.My.MySettings.AddressBook2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AddressBook2.accdb"
            providerName="System.Data.OleDb" />
        <add name="W10_Lab1_Lecture.My.MySettings.AddressBookConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AddressBook.accdb"
            providerName="System.Data.OleDb" />
        <add name="W10_Lab1_Lecture.My.MySettings.AddressBook1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AddressBook1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>